################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmbeddedGeometryKernel/CPP/TTF2RDF/.vs/TTF2RDF/v16
/EmbeddedGeometryKernel/CPP/TTF2RDF/TTF2RDF.v12.suo
/EmbeddedGeometryKernel/CPP/TTF2RDF/x64/Debug/TTF2RDF.pdb
/EmbeddedGeometryKernel/CPP/TTF2RDF/TTF2RDF/x64/Debug
/EmbeddedGeometryKernel/CPP/TTF2RDF/TTF2RDF/x64/Release
/EmbeddedGeometryKernel/CPP/TTF2RDF/x64/Release/TTF2RDF.pdb
/EmbeddedGeometryKernel/CPP/TTF2BIN/TTF2BIN/x64
/EmbeddedGeometryKernel/CPP/TTF2BIN/TTF2BIN/.vs
/EmbeddedGeometryKernel/CPP/TTF2BIN/.vs/TTF2BIN/v16
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Debug/TTF2BIN.pdb
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Release/TTF2BIN.pdb
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Debug/TTF2BIN.exe
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Release/TTF2BIN.exe
