################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmbeddedGeometryKernel/CPP/TTF2RDF/.vs/TTF2RDF/v16
/EmbeddedGeometryKernel/CPP/TTF2RDF/TTF2RDF.v12.suo
/EmbeddedGeometryKernel/CPP/TTF2RDF/x64/Debug/TTF2RDF.pdb
/EmbeddedGeometryKernel/CPP/TTF2RDF/TTF2RDF/x64/Debug
/EmbeddedGeometryKernel/CPP/TTF2RDF/TTF2RDF/x64/Release
/EmbeddedGeometryKernel/CPP/TTF2RDF/x64/Release/TTF2RDF.pdb
/EmbeddedGeometryKernel/CPP/TTF2BIN/TTF2BIN/x64
/EmbeddedGeometryKernel/CPP/TTF2BIN/TTF2BIN/.vs
/EmbeddedGeometryKernel/CPP/TTF2BIN/.vs/TTF2BIN/v16
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Debug/TTF2BIN.pdb
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Release/TTF2BIN.pdb
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Debug/TTF2BIN.exe
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Release/TTF2BIN.exe
/bin/32bit/.vs
/bin/32bit/WASM/.vs
/CPP/ifceditor/.vs/ifceditor/v16
/CPP/ifceditor/Debug/ifceditor-C++_32bit_Unicode.pdb
/CPP/ifceditor/ifceditor/Debug
/CPP/ifceditor/ifceditor/Release
/CPP/ifceditor/ifceditor/x64/Debug
/CPP/ifceditor/ifceditor/x64/Release
/CPP/ifceditor/Release/ifceditor-C++_32bit_Unicode.pdb
/CPP/ifceditor/x64/Debug/ifceditor-C++_64bit_Unicode.pdb
/CPP/ifceditor/x64/Release/ifceditor-C++_64bit_Unicode.pdb
/CPP/ifceditor_v1/.vs/ifceditor/v16
/CPP/ifceditor_v1/Debug/ifceditor-C++_32bit_Unicode.pdb
/CPP/ifceditor_v1/ifceditor/Debug
/CPP/ifceditor_v1/ifceditor/Release
/CPP/ifceditor_v1/ifceditor/x64/Debug
/CPP/ifceditor_v1/ifceditor/x64/Release
/CPP/ifceditor_v1/Release/ifceditor-C++_32bit_Unicode.pdb
/CPP/ifceditor_v1/x64/Debug/ifceditor-C++_64bit_Unicode.pdb
/CPP/ifceditor_v1/x64/Release/ifceditor-C++_64bit_Unicode.pdb
/CPP/ifceditor_v1/ifceditor.suo
/CPP/ifceditor_v1/ifceditor.v12.suo
/CPP/ifceditor_v1/ifceditor/ifceditor.aps
/CPP/.vs
/CPP/ifceditor_v1/.vs/ifceditor
/CPP/IFCEditor/Debug/IFCEditor.exe
/CPP/IFCEditor/Debug/IFCEditor.pdb
/CPP/IFCEditor/IFCEditor/IFCEditor.aps
/CPP/IFCEditor/Release/IFCEditor.exe
/CPP/IFCEditor/Release/IFCEditor.pdb
/CPP/IFCEditor/x64/Debug/IFCEditor.pdb
/CPP/IFCEditor/x64/Debug/IFCEditor.exe
/CPP/IFCEditor/x64/Release/IFCEditor.pdb
/CPP/IFCEditor/x64/Release/IFCEditor.exe
/CPP/HelloWall/x64/Debug Unicode/HelloWall-C++_64bit-Unicode_DEBUG.pdb
/CPP/HelloWall/x64/Debug Unicode/example.ifc
/CPP/HelloWall/.vs/HelloWall/v16
/CPP/HelloWall/HelloWall/x64/Debug Unicode
/CPP/HelloWall/x64/Release Unicode/HelloWall-C++_64bit-Unicode.pdb
/CPP/HelloWall/HelloWall/x64/Release Unicode
/CPP/HelloHouse-IFC4/HelloHouse_2x4/.vs/miniExample/v16
/CPP/HelloHouse-IFC4/HelloHouse_2x4/Debug
/CPP/HelloHouse-IFC4/HelloHouse_2x4/Release
/CPP/CityGML2IFC/.vs/CityGML2IFC/v16
/CPP/CityGML2IFC/CityGML2IFC/Debug
/CPP/CityGML2IFC/Debug/CityGML2IFC.pdb
/CPP/CityGML2IFC/Release/CityGML2IFC.pdb
/CPP/CityGML2IFC/CityGML2IFC/CityGML2IFC.aps
/CPP/CityGML2IFC/CityGML2IFC/Release
/CPP/CityGML2IFC/x64/Debug/CityGML2IFC.pdb
/CPP/CityGML2IFC/x64/Release/CityGML2IFC.pdb
/CPP/CityGML2IFC/CityGML2IFC/x64
/CPP/CityGML2IFC/x64/Debug/schema/temp
/CPP/CityGML2IFC/x64/Release/schema/temp
/Android/IfcViewer_Xamarin_Android/.vs/IfcViewer_Xamarin_Android
/Android/IfcViewer_Xamarin_Android/IfcViewer_Xamarin_Android/.vs
/Android/IfcViewer_Xamarin_Android/IfcViewer_Xamarin_Android/obj
/CPP/CityGML2IFC/.vs/CityGML2IFC/v17
/Android/IfcViewer_Xamarin_Android/IfcViewer_Xamarin_Android/bin/Debug
/Android/IFCViewer_Xamarin_iOS/IFCViewer_Xamarin_iOS/obj
/Unity/2022.3.8f1/IFCEngine/obj
/Unity/2022.3.8f1/IFCEngine/Library/Artifacts
/Unity/2022.3.8f1/IFCEngine/Library/APIUpdater/ConfigurationCache
/Unity/2022.3.8f1/IFCEngine/Library/Bee/Android/Prj/Mono2x/Gradle/launcher/build
/Unity/2022.3.8f1/IFCEngine/Library/Bee/artifacts
/Unity/2022.3.8f1/IFCEngine/Library/Bee/CachedNodeOutput
/Unity/2022.3.8f1/IFCEngine/Library/Bee/PlayerScriptAssemblies
/Unity/2022.3.8f1/IFCEngine/Temp
/Unity/2022.3.8f1/IFCEngine/Logs
/Unity/2022.3.8f1/IFCEngine/Library/ScriptAssemblies
/Unity/2022.3.8f1/IFCEngine/Library/Search
/Unity/2022.3.8f1/IFCEngine/Library/ShaderCache
/Unity/2022.3.8f1/IFCEngine/Library/PlayerDataCache/Android
/Unity/2022.3.8f1/IFCEngine/Library/SplashScreenCache/20
/Unity/2022.3.8f1/IFCEngine/Library/StateCache/LayerSettings/9e
/Unity/2022.3.8f1/IFCEngine/Library/PackageCache
/Unity/2022.3.8f1/IFCEngine/Library
/Unity/2022.3.8f1/IFCEngine/.vs/IFCEngine/v17
/Android/IFCViewerAndroidJ/.gradle
/Android/IFCViewerAndroidJ/app/.cxx
/Android/IFCViewerAndroidJ/app/build
/CPP/HelloHouse-IFC4/HelloHouse_2x4/.vs/miniExample/v17
/C#/IFCViewerSGL/.vs/IFCViewerSGL/v16
/C#/IFCViewerSGL/IFCViewerSGL/obj
/EmbeddedGeometryKernel/C++/TTF2BIN/.vs/TTF2BIN/v16
/EmbeddedGeometryKernel/C++/TTF2BIN/TTF2BIN/.vs
/EmbeddedGeometryKernel/C++/TTF2BIN/TTF2BIN/x64
/EmbeddedGeometryKernel/C++/TTF2RDF/.vs/TTF2RDF/v16
/EmbeddedGeometryKernel/C++/TTF2RDF/TTF2RDF/x64
/C++/.vs
/C++/CityGML2IFC/.vs/CityGML2IFC
/C++/CityGML2IFC/CityGML2IFC/Debug
/C++/CityGML2IFC/CityGML2IFC/Release
/C++/CityGML2IFC/CityGML2IFC/x64
/C++/CityGML2IFC/CityGML2IFC/CityGML2IFC.aps
/C++/CityGML2IFC/x64/Debug/CityGML2IFC.exe
/C++/CityGML2IFC/x64/Debug/CityGML2IFC.pdb
/C++/CityGML2IFC/x64/Release/CityGML2IFC.exe
/C++/CityGML2IFC/x64/Release/CityGML2IFC.pdb
/C++/HelloHouse-IFC4/HelloHouse_2x4/.vs/miniExample
/C++/HelloHouse-IFC4/HelloHouse_2x4/Debug
/C++/HelloHouse-IFC4/HelloHouse_2x4/Release
/C++/HelloHouse-IFC4/HelloHouse_2x4/miniExample.aps
/C++/HelloHouse-IFC4/HelloHouse_2x4/miniExample.v12.suo
/C++/HelloHouse-IFC4/HelloHouse_2x4/miniExample.suo
/C++/HelloHouse-IFC4_v1/HelloHouse_2x4/miniExample.aps
/C++/HelloHouse-IFC4_v1/HelloHouse_2x4/miniExample.v12.suo
/C++/HelloHouse-IFC4_v1/HelloHouse_2x4/miniExample.suo
/C++/HelloWall/.vs/HelloWall/v16
/C++/HelloWall/HelloWall/x64/Debug Unicode
/C++/HelloWall/HelloWall/x64/Release Unicode
/C++/HelloWall/x64
/C++/IFCEditor/.vs/IFCEditor/v16
/C++/IFCEditor/IFCEditor/x64
/C++/IFCEditor/IFCEditor/IFCEditor.aps
/C++/ifceditor_v1/.vs/ifceditor
/C++/ifceditor_v1/ifceditor/Debug
/C++/ifceditor_v1/ifceditor/Release
/C++/ifceditor_v1/ifceditor/x64
/C++/ifceditor_v1/ifceditor/ifceditor.aps
/C++/ifceditor_v1/ifceditor.v12.suo
*.suo
/C#/.vs
/C#/IFCViewerSGL_v1/IFCViewerSGL/obj
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Debug/SharpGL.WinForms.dll
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Debug/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Debug/SharpGL.dll
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Debug/IFCViewerSGL.pdb
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Debug/IFCViewerSGL.exe.config
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Debug/IFCViewerSGL.exe
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Release/SharpGL.WinForms.dll
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Release/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Release/SharpGL.dll
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Release/IFCViewerSGL.pdb
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Release/IFCViewerSGL.exe.config
/C#/IFCViewerSGL/IFCViewerSGL/bin/x64/Release/IFCViewerSGL.exe
/C#/IFCViewerSGL/.vs
/C#/IFCViewerSGL_NET80_x64/.vs
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/obj
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Debug/net8.0-windows/IFCViewerSGL.deps.json
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Debug/net8.0-windows/IFCViewerSGL.dll
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Debug/net8.0-windows/IFCViewerSGL.dll.config
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Debug/net8.0-windows/IFCViewerSGL.exe
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Debug/net8.0-windows/IFCViewerSGL.pdb
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Debug/net8.0-windows/IFCViewerSGL.runtimeconfig.json
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Debug/net8.0-windows/SharpGL.dll
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Debug/net8.0-windows/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Debug/net8.0-windows/SharpGL.WinForms.dll
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Release/net8.0-windows/IFCViewerSGL.deps.json
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Release/net8.0-windows/IFCViewerSGL.dll
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Release/net8.0-windows/IFCViewerSGL.dll.config
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Release/net8.0-windows/IFCViewerSGL.exe
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Release/net8.0-windows/IFCViewerSGL.pdb
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Release/net8.0-windows/IFCViewerSGL.runtimeconfig.json
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Release/net8.0-windows/SharpGL.dll
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Release/net8.0-windows/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL_NET80_x64/IFCViewerSGL/bin/Release/net8.0-windows/SharpGL.WinForms.dll
/C#/IFCViewerSGL_AnyCPU/.vs
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/obj
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.deps.json
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.dll.config
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.exe
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.pdb
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.runtimeconfig.json
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Debug/net8.0-windows/SharpGL.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Debug/net8.0-windows/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Debug/net8.0-windows/SharpGL.WinForms.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.deps.json
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.dll.config
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.exe
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.pdb
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.runtimeconfig.json
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Release/net8.0-windows/SharpGL.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Release/net8.0-windows/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x64/Release/net8.0-windows/SharpGL.WinForms.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.deps.json
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.dll.config
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.exe
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.pdb
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.runtimeconfig.json
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Debug/net8.0-windows/SharpGL.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Debug/net8.0-windows/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Debug/net8.0-windows/SharpGL.WinForms.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.deps.json
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.dll.config
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.exe
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.pdb
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.runtimeconfig.json
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Release/net8.0-windows/SharpGL.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Release/net8.0-windows/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL_AnyCPU/IFCViewerSGL/bin/x86/Release/net8.0-windows/SharpGL.WinForms.dll
/C#/IFCViewerSGL_AnyCPU_v1/IFCViewerSGL/obj
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/obj
/C#/IFCViewerSGL_AnyCPU_NET80/.vs
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.deps.json
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.dll.config
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.exe
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.pdb
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Debug/net8.0-windows/IFCViewerSGL.runtimeconfig.json
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Debug/net8.0-windows/SharpGL.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Debug/net8.0-windows/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Debug/net8.0-windows/SharpGL.WinForms.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.deps.json
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.dll.config
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.exe
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.pdb
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Release/net8.0-windows/IFCViewerSGL.runtimeconfig.json
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Release/net8.0-windows/SharpGL.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Release/net8.0-windows/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x64/Release/net8.0-windows/SharpGL.WinForms.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.deps.json
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.dll.config
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.exe
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.pdb
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Debug/net8.0-windows/IFCViewerSGL.runtimeconfig.json
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Debug/net8.0-windows/SharpGL.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Debug/net8.0-windows/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Debug/net8.0-windows/SharpGL.WinForms.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.deps.json
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.dll.config
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.exe
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.pdb
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Release/net8.0-windows/IFCViewerSGL.runtimeconfig.json
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Release/net8.0-windows/SharpGL.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Release/net8.0-windows/SharpGL.SceneGraph.dll
/C#/IFCViewerSGL_AnyCPU_NET80/IFCViewerSGL/bin/x86/Release/net8.0-windows/SharpGL.WinForms.dll
/C++/CityGML2IFC/x64/Debug/schema/temp
/C++/CityGML2IFC/Debug/CityGML2IFC.exe
/C++/CityGML2IFC/Debug/CityGML2IFC.pdb
/C++/CityGML2IFC/x64/Release/schema/temp
/C++/IFCEditor/IFCEditor/Release/IFCEditor.tlog
/C++/IFCEditor/IFCEditor/Release/ViewTree.obj
/C++/IFCEditor/IFCEditor/Release/vc142.pdb
/C++/IFCEditor/IFCEditor/Release/Texture.obj
/C++/IFCEditor/IFCEditor/Release/SearchTreeCtrlDialog.obj
/C++/IFCEditor/IFCEditor/Release/pch.obj
/C++/IFCEditor/IFCEditor/Release/Model.obj
/C++/IFCEditor/IFCEditor/Release/InstanceBase.obj
/C++/IFCEditor/IFCEditor/Release/IFCEditor.vcxproj.FileListAbsolute.txt
/C++/IFCEditor/IFCEditor/Release/IFCEditor.pch
/C++/IFCEditor/IFCEditor/Release/IFCEditor.log
/C++/IFCEditor/IFCEditor/Release/IFCEditor.Build.CppClean.log
/C++/IFCEditor/IFCEditor/Release/IFCAttribute.obj
/C++/IFCEditor/IFCEditor/Release/Entity.obj
/C++/IFCEditor/IFCEditor/Release/calendarbar.obj
/C++/IFCEditor/x64/Debug/IFCEditor.pdb
/C++/IFCEditor/x64/Debug/IFCEditor.exe
/C++/IFCEditor/x64/Release/IFCEditor.pdb
/C++/IFCEditor/x64/Release/IFCEditor.exe
/C++/IFCEditor/Debug/IFCEditor.pdb
/C++/IFCEditor/Debug/IFCEditor.exe
/C++/IFCEditor/IFCEditor/Debug
/C++/IFCEditor/Release/IFCEditor.pdb
/C++/IFCEditor/Release/IFCEditor.exe
/C++/IFCEditor/IFCEditor/Release
/bin/32bit/WASM_GK/.vs
/C++/CityGML2IFC_v1/.vs/CityGML2IFC
/C++/CityGML2IFC_v1/CityGML2IFC/Debug
/C++/CityGML2IFC_v1/CityGML2IFC/Release
/C++/CityGML2IFC_v1/CityGML2IFC/x64
/C++/CityGML2IFC_v1/CityGML2IFC/CityGML2IFC.aps
/C++/CityGML2IFC_v1/x64/Debug/schema/temp
/C++/CityGML2IFC_v1/x64/Release/schema/temp
/bin/32bit/WASM_GML2IFC/.vs
/bin/32bit/WASM_v1/.vs
/bin/32bit/WASM_GML2IFC_v1/.vs/WASM/v17
/bin/32bit/WASM_GML2IFC_v1/.vs/WASM_GML2IFC/v17
/bin/32bit/WASM_GML2IFC_v1/.vs/WASM_GML2IFC/FileContentIndex
/bin/32bit/WASM_GML2IFC_v1/.vs/WASM/FileContentIndex
/bin/32bit/WASM_GML2IFC_v1/.vs
/bin/64bit/.vs/64bit/FileContentIndex
/bin/64bit/.vs/64bit/v17
/bin/64bit/.vs
/C#/STEPExample/STEPExample/obj
/C#/StreamingSTPInOut-CS/StreamingIFCInOut-CS/bin/x64/Debug
/C#/StreamingSTPInOut-CS/StreamingIFCInOut-CS/bin/x86/Debug
/C#/StreamingSTPInOut-CS/StreamingIFCInOut-CS/obj
/C#/STEPExample/STEPExample/bin/x64/Debug
/C++/BuildSTEPTree/x64/Debug
/C++/Version/Debug
/C++/Version/STEPExample/STEPExample/bin/x64/Debug
/C++/Version/STEPExample/STEPExample/obj
/C++/Version/StreamingSTPInOut-CS/StreamingIFCInOut-CS/bin/x64/Debug
/C++/Version/StreamingSTPInOut-CS/StreamingIFCInOut-CS/bin/x86/Debug
/C++/Version/StreamingSTPInOut-CS/StreamingIFCInOut-CS/obj
/C++/Version/x64/Debug
/C++/STEPViewer/Win32/Debug
/C++WebGL/bin2js/x64/Debug
/C++WebGL/bin2js/x64/Release/bin2js.exp
/C++WebGL/stp2bin/x64/Debug
/C++WebGL/STP2JS-Example/x64/Debug
/C++/BuildSTEPTree/.vs/BuildSTEPTree/v16
/C++/BuildSTEPTree/BuildSTEPTree/Debug
/C++/BuildSTEPTree/BuildSTEPTree/Release
/C++/BuildSTEPTree/BuildSTEPTree/x64/Debug
/C++/BuildSTEPTree/BuildSTEPTree/x64/Release
/C++/BuildSTEPTree/x64/Release/BuildSTEPTree.pdb
/C++/BuildSTEPTree/Debug/BuildSTEPTree.pdb
/C++/BuildSTEPTree/Debug
/C++/BuildSTEPTree/Release/BuildSTEPTree.pdb
/C++/StreamingSTPInOut/.vs/StreamingIFCInOut/v16
/C++/StreamingSTPInOut/Release/StreamingSTPInOut.pdb
/C++/StreamingSTPInOut/StreamingIFCInOut/Debug
/C++/StreamingSTPInOut/StreamingIFCInOut/Release
/C++/StreamingSTPInOut/StreamingIFCInOut/x64/Debug
/C++/StreamingSTPInOut/StreamingIFCInOut/x64/Release
/C++/StreamingSTPInOut/x64/Release/StreamingSTPInOut.pdb
/C++/StreamingSTPInOut/Debug
/C++/StreamingSTPInOut/x64/Debug
/C++/Version/.vs/Version
/C#/StreamingSTPInOut-CS/StreamingIFCInOut-CS/bin/x64/Release/StreamingSTPInOut-CS.pdb
/C#/StreamingSTPInOut-CS/StreamingIFCInOut-CS/bin/x64/Release/StreamingSTPInOut-CS.exe.config
/C#/StreamingSTPInOut-CS/StreamingIFCInOut-CS/bin/x86/Release/StreamingSTPInOut-CS.pdb
/C#/StreamingSTPInOut-CS/StreamingIFCInOut-CS/bin/x86/Release/StreamingSTPInOut-CS.exe.config
/EmbeddedGeometryKernel/C++/ArrayInOut/.vs/ArrayInOut
/EmbeddedGeometryKernel/C++/ArrayInOut/ArrayInOut/Debug
/EmbeddedGeometryKernel/C++/ArrayInOut/ArrayInOut/x64/Release
/EmbeddedGeometryKernel/C++/ArrayInOut/ArrayInOut/Release
/EmbeddedGeometryKernel/C++/ArrayInOut/Release/ArrayInOut.pdb
/EmbeddedGeometryKernel/C++/ArrayInOut/x64/Release/ArrayInOut.pdb
/EmbeddedGeometryKernel/C++/ArrayInOut
/EmbeddedGeometryKernel/C++/ArrayInOut/Debug/ArrayInOut.pdb
/EmbeddedGeometryKernel/C++/BooleanOperation/.vs/BooleanOperation
/EmbeddedGeometryKernel/C++/BooleanOperation/BooleanOperation/Debug
/EmbeddedGeometryKernel/C++/BooleanOperation/BooleanOperation/Release
/EmbeddedGeometryKernel/C++/BooleanOperation/BooleanOperation/x64/Debug
/EmbeddedGeometryKernel/C++/BooleanOperation/BooleanOperation/x64/Release
/EmbeddedGeometryKernel/C++/BooleanOperation/Release/BooleanOperation.pdb
/EmbeddedGeometryKernel/C++/BooleanOperation/x64/Debug/BooleanOperation.pdb
/EmbeddedGeometryKernel/C++/BooleanOperation/x64/Release/BooleanOperation.pdb
/C++WebGL/bin2js/.vs/bin2js/v16
/C++WebGL/bin2js/bin2js/Release
/C++WebGL/bin2js/bin2js/x64/Debug
/C++WebGL/bin2js/bin2js/x64/Release
/C++WebGL/bin2js/.vs/bin2js
/C++WebGL/stp2bin/.vs/stp2bin
/C++WebGL/stp2bin/stp2bin/x64/Debug
/C++WebGL/stp2bin/stp2bin/x64/Release
/C++WebGL/stp2bin/x64/Release/stp2bin.pdb
/C++WebGL/STP2JS-Example/.vs/STP2JS-Example
/C++WebGL/STP2JS-Example/STP2JS-Example/x64/Debug
/C++WebGL/STP2JS-Example/STP2JS-Example/x64/Release
/C++WebGL/STP2JS-Example/x64/Release/STP2JS-Example.pdb
/C++WebGL/bin2js/x64/Release/bin2js.pdb
/C++WebGL/stp2bin/x64/Release/stp2bin.exp
/C#/STEPExample/.vs/STEPExample/FileContentIndex
/C#/STEPExample/.vs/STEPExample/v17
/C#/StreamingSTPInOut-CS/.vs/StreamingIFCInOut-CS/FileContentIndex
/C#/StreamingSTPInOut-CS/.vs/StreamingIFCInOut-CS/v17
/C#/STEPExample/STEPExample/bin/x86/Debug
/C#/STEPExample/STEPExample/bin/x86/Release/STEPExample.pdb
/C#/STEPExample/STEPExample/bin/x86/Release/STEPExample.exe.config
/C#/STEPExample/STEPExample/bin/x64/Release/STEPExample.pdb
/C#/STEPExample/STEPExample/bin/x64/Release/STEPExample.exe.config
/EmbeddedGeometryKernel/C#/ArrayInOut-CS/ArrayInOut-CS/bin/x64/Debug
/EmbeddedGeometryKernel/C#/ArrayInOut-CS/ArrayInOut-CS/bin/x64/Release/ArrayInOut-CS.pdb
/EmbeddedGeometryKernel/C#/ArrayInOut-CS/ArrayInOut-CS/bin/x64/Release/ArrayInOut-CS.exe.config
/EmbeddedGeometryKernel/C#/ArrayInOut-CS/ArrayInOut-CS/bin/x86/Debug
/EmbeddedGeometryKernel/C#/ArrayInOut-CS/ArrayInOut-CS/bin/x86/Release/ArrayInOut-CS.pdb
/EmbeddedGeometryKernel/C#/ArrayInOut-CS/ArrayInOut-CS/bin/x86/Release/ArrayInOut-CS.exe.config
/EmbeddedGeometryKernel/C#/ArrayInOut-CS/ArrayInOut-CS/obj/x64/Debug
/EmbeddedGeometryKernel/C#/ArrayInOut-CS/ArrayInOut-CS/obj/x64/Release
/EmbeddedGeometryKernel/C#/ArrayInOut-CS/ArrayInOut-CS/obj/x86/Debug
/EmbeddedGeometryKernel/C#/ArrayInOut-CS/ArrayInOut-CS/obj/x86/Release
