################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmbeddedGeometryKernel/CPP/TTF2RDF/.vs/TTF2RDF/v16
/EmbeddedGeometryKernel/CPP/TTF2RDF/TTF2RDF.v12.suo
/EmbeddedGeometryKernel/CPP/TTF2RDF/x64/Debug/TTF2RDF.pdb
/EmbeddedGeometryKernel/CPP/TTF2RDF/TTF2RDF/x64/Debug
/EmbeddedGeometryKernel/CPP/TTF2RDF/TTF2RDF/x64/Release
/EmbeddedGeometryKernel/CPP/TTF2RDF/x64/Release/TTF2RDF.pdb
/EmbeddedGeometryKernel/CPP/TTF2BIN/TTF2BIN/x64
/EmbeddedGeometryKernel/CPP/TTF2BIN/TTF2BIN/.vs
/EmbeddedGeometryKernel/CPP/TTF2BIN/.vs/TTF2BIN/v16
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Debug/TTF2BIN.pdb
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Release/TTF2BIN.pdb
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Debug/TTF2BIN.exe
/EmbeddedGeometryKernel/CPP/TTF2BIN/x64/Release/TTF2BIN.exe
/bin/32bit/.vs
/bin/32bit/WASM/.vs
/CPP/ifceditor/.vs/ifceditor/v16
/CPP/ifceditor/Debug/ifceditor-C++_32bit_Unicode.pdb
/CPP/ifceditor/ifceditor/Debug
/CPP/ifceditor/ifceditor/Release
/CPP/ifceditor/ifceditor/x64/Debug
/CPP/ifceditor/ifceditor/x64/Release
/CPP/ifceditor/Release/ifceditor-C++_32bit_Unicode.pdb
/CPP/ifceditor/x64/Debug/ifceditor-C++_64bit_Unicode.pdb
/CPP/ifceditor/x64/Release/ifceditor-C++_64bit_Unicode.pdb
/CPP/ifceditor_v1/.vs/ifceditor/v16
/CPP/ifceditor_v1/Debug/ifceditor-C++_32bit_Unicode.pdb
/CPP/ifceditor_v1/ifceditor/Debug
/CPP/ifceditor_v1/ifceditor/Release
/CPP/ifceditor_v1/ifceditor/x64/Debug
/CPP/ifceditor_v1/ifceditor/x64/Release
/CPP/ifceditor_v1/Release/ifceditor-C++_32bit_Unicode.pdb
/CPP/ifceditor_v1/x64/Debug/ifceditor-C++_64bit_Unicode.pdb
/CPP/ifceditor_v1/x64/Release/ifceditor-C++_64bit_Unicode.pdb
/CPP/ifceditor_v1/ifceditor.suo
/CPP/ifceditor_v1/ifceditor.v12.suo
/CPP/ifceditor_v1/ifceditor/ifceditor.aps
/CPP/.vs
/CPP/ifceditor_v1/.vs/ifceditor
/CPP/IFCEditor/Debug/IFCEditor.exe
/CPP/IFCEditor/Debug/IFCEditor.pdb
/CPP/IFCEditor/IFCEditor/IFCEditor.aps
/CPP/IFCEditor/Release/IFCEditor.exe
/CPP/IFCEditor/Release/IFCEditor.pdb
/CPP/IFCEditor/x64/Debug/IFCEditor.pdb
/CPP/IFCEditor/x64/Debug/IFCEditor.exe
/CPP/IFCEditor/x64/Release/IFCEditor.pdb
/CPP/IFCEditor/x64/Release/IFCEditor.exe
